@import "../../../shared/variables.scss";

.section {
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .section {
        height: 120vh;
    }
    
}

.home-page {

    &__wrapper {
        
    }

    &__description {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/assets/main-page-backcolor.jpg");

        &-content {
            position: relative;
            top: 320px;
            left: 200px;
            max-width: 520px;
            letter-spacing: 2px;
            line-height: 1.5;
            font-size: 32px;
        }

        @media screen and (max-width: 768px) {
            &-content {
                position: relative;
                top: 300px;
                left: 150px;
                max-width: 250px;
                letter-spacing: 2px;
                line-height: 1.5;
                font-size: 24px;
            }
        }
    }

    &__title {
        color: $color-primary;
        font-size: 32px;
        font-weight: bold;
    }
}

.create-deal-section {

    &__wrapper {
        position: relative;
        top: 135px;
        left: 0px;
    }

    &__title {
        text-align: center;
        color: $color-primary;
        font-size: 32px;
        font-weight: bold;
    }

    &__content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto;
        gap: 20px;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__col {
        letter-spacing: 2px;
        font-size: $font-size-1;
        padding: 10px 60px;
    }

    @media screen and (max-width: 768px) {
        &__col {
            letter-spacing: 2px;
            font-size: $font-size-2;
            padding: 10px 60px;
        }
    }

    &__btn {
        display: flex;
        margin: 30px 0;
        justify-content: center;
    }

    &__footer {
        padding: 20px;
        letter-spacing: 2px;
        font-size: $font-size-1;
        text-align: center;
        margin-top: 45px;
    }

    @media screen and (max-width: 768px) {
        &__footer {
            padding: 20px;
            letter-spacing: 2px;
            font-size: $font-size-2;
            text-align: center;
            margin-top: 45px;
        }
    }
}