<div class="home-page__wrapper">
    <div class="home-page__description">
        <div class="home-page__description-content section">
            <span class="home-page__title">FreeTeme</span> - это фриланс биржа, где вы можете найти или предложить проекты по различным направлениям: дизайн, программирование, маркетинг, переводы и многое другое.
        </div>
    </div>
    <div class="create-deal-section section">
        <div class="create-deal-section__wrapper">
            <h2 class="create-deal-section__title">
                Создание заказа на FreeTeme - это просто и удобно 
            </h2>
            <div class="create-deal-section__content">
                <div class="create-deal-section__col">
                    Все, что вам нужно сделать, это заполнить форму с описанием вашего проекта, указать бюджет, сроки и требования к исполнителю.
                </div>
                <div class="create-deal-section__col">
                    После того, как вы опубликуете заказ, вы получите предложения от разных специалистов, которые заинтересованы в вашем проекте.
                </div>
            </div>
            <div class="create-deal-section__btn">
                <button 
                    mat-raised-button 
                    color="primary"
                    (click)="createBtnClick()">
                    Создать
                </button>
            </div>
            <div class="create-deal-section__footer">
                Все Создавая заказы на FreeTeme, вы экономите свое время и деньги, получая лучший результат!
            </div>
        </div>
    </div>
</div>