<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="post" class="login-form__wrapper">
    <h2 class="login-form__title">SignIn</h2>
    
    <p class="login-form__description">Pleace, enter your login and password!</p>

    <div class="login-form__inputs">
        <app-form-input 
            formControlName="login"
            label="Login"
            type="text"
            name="login"
            id="login"
            placeholder="Login"
        >
            <p errors 
                *ngIf="loginForm.get('login')?.getError('required')  && loginForm.get('login')?.touched" 
            >
                Login is required
            </p>
            <p errors 
                *ngIf="loginForm.get('login')?.getError('maxlength') && loginForm.get('login')?.touched"
            >
                Max length is 30 symbols
            </p>
        </app-form-input>

        <app-form-input
            formControlName="password"
            label="Password"
            type="password"
            name="password"
            id="password"
            placeholder="Password"
        >
            <p errors 
                *ngIf="(loginForm.get('password')?.hasError('required') || loginForm.get('password')?.value === '') && loginForm.get('password')?.touched"
            >
                Password is required
            </p>
            <p errors 
                *ngIf="loginForm.get('password')?.getError('maxlength') && loginForm.get('password')?.touched"
            >
                Max length is 30 symbols
            </p>
            <p errors 
                *ngIf="loginForm.get('password')?.getError('minlength') && loginForm.get('password')?.touched"
            >
                Min length is 6 symbols
            </p>
        </app-form-input>

    </div>

    <app-primary-button 
        (clicked)="handleClick()" 
        [disabled]="loginForm.invalid"
        type="submit" 
        text="login"
        id="btn-login"
        name="btn-login"
    ></app-primary-button>
</form>