<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="post" class="login-form__wrapper">
    <h2 class="login-form__title">SignIn</h2>
    
    <p class="login-form__description">Pleace, enter your login and password!</p>

    <div class="login-form__inputs">
        <app-form-input 
            formControlName="login"
            label="Login"
            type="text"
            name="login"
            id="login"
            placeholder="login"
        />
        <app-form-input
            formControlName="password"
            label="Password"
            type="password"
            name="password"
            id="password"
            placeholder="password"
        />

    </div>

    <app-primary-button 
        (clicked)="handleClick()" 
        [disabled]="loginForm.invalid"
        type="submit" 
        text="login"
        id="btn-login"
        name="btn-login"
    ></app-primary-button>
</form>