<div class="deal-panel__wrapper">
    <div class="deal-panel__title">Your Deals</div>
    <div class="deal-panel__btn">
        <button mat-raised-button routerLink="/user-deals" color="primary">View</button>
    </div>
    <div class="deal-panel__new">
        <mat-icon 
            svgIcon="ok-icon" 
            aria-hidden="false" 
            aria-label="Count new deal"
            matBadge="{{approvedDealsCount}}" 
            matBadgeColor="warn"
        ></mat-icon>
    </div>
    <div class="deal-panel__count">
        Total count : {{deals?.length}}
    </div>
</div>
