.authorization-page {

    &__wrapper {
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__btn-switch {
        position: relative;
        top: 20px;
        left: 0px;
    }
}