$color-primary:#78dbe2;
$color-secondary:#C6F1E7;
$color-background:#F0FFF3;
$another-color:#FA4659;

$font-primary: Helvetica;
$font-secondary: Arial;

$font-size-1: 1.5rem;
$font-size-2: 1.2rem;
$font-size-3: 1rem;