@import "../shared/variables.scss";

.app{

    &__wrapper{
        font-family: $font-primary;
        background-color: $color-background;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    &__content{
        flex-grow: 1;
    }
}