<div class="deal-card__wrapper" [ngClass]="{'deal-card_responded': dealCard?.alreadyResponded}">
    <div class="deal-card_tags">
       <app-categories-panel [categories]="dealCard?.categories"/>
    <div class="deal-card__head">
        <div class="deal-card__title">
            @if (dealCard?.status === 1) {
                <mat-icon 
                    svgIcon="ok-icon" 
                    aria-hidden="false" 
                    aria-label="Count new proposal"
                ></mat-icon>
            }
            {{dealCard?.title}}
        </div>
        <div class="deal-card__price"><span class="deal-card__price-text">Price : </span>{{dealCard?.minPrice}}-{{dealCard?.maxPrice}}</div>
    </div>
    <div class="deal-card__description">{{dealCard?.description}}</div>
    <div class="deal-card__footer">
        <div class="deal-card__date">{{dealCard?.datePublication}}</div>
        <div class="deal-card__like">Watch : {{dealCard?.views}}</div>

        @if (dealCard?.status === 0) {
            <button 
                mat-raised-button 
                class="deal-card__view-button" 
                (click)="onView()"
                color="primary"
            >
                View
            </button>
        }  
        @else if(dealCard?.status === 1) {
            <div class="deal-card__btns">
                <button 
                    mat-raised-button 
                    color="accent"
                    (click)="toContact()"
                >
                    To contact
                </button>

                <button 
                    mat-raised-button 
                    color="warn"
                    (click)="closeDeal()"
                >
                    Close Deal
                </button>
            </div>
        }
        @else {
            Заказ закрыт
        }
    </div>
    <div class="deal-card__view">
    </div>
</div> 
