<div class="proposal-card__wrapper">
    <div class="proposal-card__header">
        <h2 class="proposal-card__title">
            @if (proposal?.status === 1) {
                <mat-icon 
                    svgIcon="ok-icon" 
                    aria-hidden="false" 
                    aria-label="Count new proposal"
                ></mat-icon>
            }
            Отклик на Заказ : {{proposal?.dealId}}
        </h2>
        <div class="proposal-card__price">Price : {{proposal?.price}}</div>
    </div>
    <div class="proposal-card__content">
        <div class="proposal-card__description">{{proposal?.description}}</div>
    </div>
    <div class="proposal-card__footet">
        <div class="proposal-card__date">Publish : {{proposal?.datePublish | date : "dd.MM.yyyy HH:mm:ss"}}</div>
        <div class="proposal-card__btns">
            @if(proposal?.status === 1) {
                <button 
                    mat-raised-button 
                    color="accent"
                    (click)="toContact()"
                >
                    To contact
                </button>
            }
            <button 
                mat-raised-button 
                color="primary"
                (click)="viewProposal()"
            >
                View
            </button>
        </div>
    </div>
</div>