<div class="proposal-card__wrapper">
    <div class="proposal-card__header">
        <h2 class="proposal-card__title">Отклик на Заказ : {{proposal?.dealId}}</h2>
        <div class="proposal-card__price">Price : {{proposal?.price}}</div>
    </div>
    <div class="proposal-card__content">
        <div class="proposal-card__description">{{proposal?.description}}</div>
    </div>
    <div class="proposal-card__footet">
        <div class="proposal-card__date">Publish : {{proposal?.datePublish}}</div>
        <button mat-raised-button color="primary">View</button>
    </div>
</div>