.contact-after-approved-page {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    @media screen and (max-width: 768px) {
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 20px;
        }
        
    }
}