@import "../../../shared/variables.scss";

.contact-after-approved-page {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    @media screen and (max-width: 768px) {
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 20px;
        }
        
    }

    &__title {
        color: $color-primary;
        font-size: $font-size-1;
        font-weight: bold;
        margin: 0px 0px 10px 10px;
    }
}