@import "../../../shared/variables.scss";

.search-tool {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        letter-spacing: 2px;
        color: $color-primary;
        font-size: $font-size-1;
        font-weight: bold;
    }

    &__input {
        width: 300px;
        padding: 8px;
        border: 3px solid $color-secondary;
        border-radius: 12px;

        &:focus {
            border: 3px solid $color-secondary;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__filter {

        &-title {
            letter-spacing: 2px;
            color: $color-primary;
            font-size: $font-size-1;
            font-weight: bold;
        }
    }
}