<div class="search-tool__wrapper">
    <div class="search-tool__searchbar">
        <h4 class="search-tool__title">Search</h4>
        <input 
            class="search-tool__input" 
            type="text"
            placeholder="Search"
        >
    </div>
    <div class="search-tool__filter">
        <h4 class="search-tool__filter-title">Filter</h4>
        <label>Criteria 1</label>
        <input type="checkbox"> 
        <br>
        <label>Criteria 2</label>
        <input type="checkbox">
    </div>
</div>